<!--
<form  class="p-1 form" (ngSubmit)="uploadFile($event)">
  <div class="form-group">
    <input [(ngModel)]="feedbackForm.mail" #content = "ngModel" style="width: 20%" name="content" required pattern=""  class="form-control"    placeholder="write smth">
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input    type="file" class="form-control-file"   name="content" required pattern="" id="exampleFormControlFile1">
  </div>
  <button type="submit"  [disabled]="content.invalid"   class="btn btn-info ml-2">send</button>
</form>
-->


<form name="form" (ngSubmit)="f.form.valid && submitFeedback()" #f="ngForm" novalidate>
  <input type="text"  name="first" [(ngModel)]="form.mail" #first="ngModel"/>
  <input type="file"  (change)="addFile($event)"/>
  <button type="submit">Отправить</button>
</form>
