

<div  class="container-fluid back">
  <div id="head" class="row">
    <div class="col-md-1  ">
    </div>
    <div class="col-md-10">
      <nav class="mt-3 navbar navbar-expand-lg navbar-light"><br>
        <div style="font-size: 10px"> <p class="font-italic m-0">online: {{numberOfOnlineUsers}}</p>
          <!--  <a data-text="innovations"  class=" button-hover "  href="http://impltech.com">impltech</a>
   --><a routerLink="/">
          <img class="img-fluid" width="200px"  src="../../../assets/images/logo/logo.png">

          </a>

        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div     class="collapse navbar-collapse justify-content-md-center" id="navbarSupportedContent">
          <ul  class="navbar-nav ">
            <li class=" nav-item mr-3 ml-3">
              <a routerLink="/services"   class="nav-link" href="#">{{'services' | translate}}</a>
            </li>
            <li class="  nav-item mr-3 ml-3">
              <a  class="nav-link"   routerLink="/technologies" >{{'tech' | translate}}</a>
            </li>
            <li class=" nav-item mr-3 ml-3">
              <a  routerLink="/portfolio"  class="nav-link" >{{'port' | translate}}</a>
            </li>

          </ul>
        </div>
        <div>
          <label class="switch">
            <input (click)="switchLanguage(index)"   type="checkbox">
            <span   class="slider"> </span>
          </label>

          <ul  class="navbar-nav" >
            <li >
              <div    class="language-mark mr-1">
                рус
              </div>
            </li>
            <li style="color: #2d527c; font-weight: bold" >

            </li>
            <li >
              <div [ngClass]="{'lang_color': index % 2 !== 0 }" class="language-mark ml-1 ">
                en
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <!-- <div appParallax [ratio]="0.5" id="circle"></div>
  <div appParallax [ratio]="0.9" id="rectangle"></div>
-->




  <div class="row ">
    <div  class="col-md-12"  >
      <div class="picture1">
        <img class="img-fluid" width="100px" src="../../../assets/images/screen_01/01.png">
      </div>
      <div class="picture3">

        <img class="img-fluid" width="100px" src="../../../assets/images/screen_01/03.png">
      </div>

      <div  >
            <div  class="text-center" style="margin-top: 100px" >
              <p  > technologies!</p>
            </div>

          <div class="row  ">
              <div  style="position: relative; margin: 0 auto; height: 700px">
<div style="top: 200px; position: relative" >
  <img  class="img-fluid " width="200"  src="../../../assets/images/technologies_component/mobile.png">
  <img   class="img-fluid " width="450"  src="../../../assets/images/technologies_component/computer.png">
</div>

              </div>


            <div     class="absolute_center">

              <div class="d-inline-block mr-3 ml-3">
                <div class="card d-inline-block mr-3 ml-3" >
                  <div class="card-body" >

                    <div class="text-center"> MOBILE</div>
                  </div>
                </div>

                <br>
                <br>
                <div class="card d-inline-block" >
                  <div class="card-body " >
                    <a>

                    </a>
                    <img class="img-fluid one" src="../../../assets/images/technologies_component/icons_mob_grey/ionic.png">

                  </div>
                  <div class="card-body" >
                    <img class="img-fluid" src="../../../assets/images/technologies_component/icons_mob_grey/ios_swift.png">
                  </div>
                  <div class="card-body" >
                    <img class="img-fluid" src="../../../assets/images/technologies_component/icons_mob_grey/java_android.png">
                  </div>
                  <div class="card-body" >
                    <img class="img-fluid" src="../../../assets/images/technologies_component/icons_mob_grey/kotin.png">
                  </div>
                  <div class="card-body" >
                    <img class="img-fluid" src="../../../assets/images/technologies_component/icons_mob_grey/objective_c.png">
                  </div>
                </div>



              </div>

              <div class="d-inline-block mr-3 ml-3">
                <div  class=" card d-inline-block mr-3 ml-3  " >
                  <div class="card-body" >

                    <div class="text-center"> WEB</div>
                  </div>
                </div>
                <br>
                <br>
                <div class="card d-inline-block "  >
                  <div class="text-center"> FRONTEND</div>
                  <div class="card-body "  >

                    <img class="img-fluid "style="margin: 6px" src="../../../assets/images/technologies_component/icons_frontend_grey/angular.png">
                    <img class="img-fluid"style="margin: 6px" src="../../../assets/images/technologies_component/icons_frontend_grey/bootstrap.png">
                    <img class="img-fluid"style="margin: 6px" src="../../../assets/images/technologies_component/icons_frontend_grey/css.png">
                  </div>
                  <div class="card-body" >
                    <img class="img-fluid" style="margin: 6px" src="../../../assets/images/technologies_component/icons_frontend_grey/html.png">
                    <img class="img-fluid" style="margin: 6px" src="../../../assets/images/technologies_component/icons_frontend_grey/jQuery.png">
                    <img class="img-fluid" style="margin: 6px" src="../../../assets/images/technologies_component/icons_frontend_grey/js.png">
                  </div>
                  <div class="card-body" >
                    <img class="img-fluid"  style="margin: 6px"src="../../../assets/images/technologies_component/icons_frontend_grey/typescript.png">
                  </div>
                </div>
                <div class="card d-inline-block mr-3 ml-3" >
                  <div class="text-center"> BACKEND</div>
                  <div class="card-body" >

                    <img class="img-fluid" style="margin: 6px" src="../../../assets/images/technologies_component/icons_backend_grey/amazon.png">
                    <img class="img-fluid" style="margin: 6px" src="../../../assets/images/technologies_component/icons_backend_grey/docker.png">
                    <img class="img-fluid" style="margin: 6px" src="../../../assets/images/technologies_component/icons_backend_grey/hibernate.png">
                    <img class="img-fluid" style="margin: 6px" src="../../../assets/images/technologies_component/icons_backend_grey/java.png">
                  </div>
                  <div class="card-body" >
                    <img class="img-fluid" style="margin: 6px" src="../../../assets/images/technologies_component/icons_backend_grey/kafka.png">
                    <img class="img-fluid" style="margin: 6px" src="../../../assets/images/technologies_component/icons_backend_grey/node.png">
                    <img class="img-fluid" style="margin: 6px" src="../../../assets/images/technologies_component/icons_backend_grey/redis.png">
                    <img class="img-fluid" style="margin: 6px" src="../../../assets/images/technologies_component/icons_backend_grey/spring.png">
                  </div>
                </div>
                <div class="card d-inline-block mr-3 ml-3" >
                  <div class="text-center"> DATABASE</div>
                  <div class="card-body" >
                    <img class="img-fluid" src="../../../assets/images/technologies_component/icons_database_grey/mongodb.png">

                  </div>
                  <div class="card-body" >
                    <img class="img-fluid" src="../../../assets/images/technologies_component/icons_database_grey/MySQL.png">
                  </div>
                  <div class="card-body" >
                    <img class="img-fluid" src="../../../assets/images/technologies_component/icons_database_grey/postgresql.png">
                  </div>
                </div>
              </div>

          </div>

      </div>
      <app-messenger></app-messenger>
  </div>
  </div>


</div>

</div>
