

.mob {
  background-image: url(../../../assets/images/technologies_component/mobile.png), url(../../../assets/images/technologies_component/computer.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left, right;

}

img.img-fluid{


}
.height_technologies{


  height: 363px;
}
div.card {

  margin-right: 0;
}
.absolute_center
{


  overflow: no-display;
  width: 100%;
  z-index: 2;
  min-width: 400px;
  max-width: 900px;
  margin: auto;
  margin-top: 150px;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
 .card-body:hover .one {
width: 50px;

 }

.demo{


  position:relative;
  margin:0 auto;
width: 50px;

height: 50px;
  display: inline-block;
}
.demo img {
  left: 0;
  position:absolute;
  top: 0;
}

.demo img.raz {opacity:0;filter:alpha(opacity=0);}
.demo:hover img.raz {

  opacity:1;filter:alpha(opacity=100);}
.demo:hover img.dva, .demo img.dva:hover
{
  opacity:0;
  filter:alpha(opacity=0);
}
.demo img {
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.demo img.raz {
  -moz-transform:scale(0);
  -webkit-transform:scale(0);
  -o-transform:scale(0);
  -ms-transform:scale(0);
}

.demo:hover img.raz {
  -moz-transform:scale(1);
  -webkit-transform:scale(1);
  -o-transform:scale(1);
  -ms-transform:scale(1);
}

.demo:hover img.dva {
  -moz-transform:scale(0);
  -webkit-transform:scale(0);
  -o-transform:scale(0);
  -ms-transform:scale(0);
}
