<div class="container-fluid  mb-5">

  <!-- <div appParallax [ratio]="0.5" id="circle"></div>
  <div appParallax [ratio]="0.9" id="rectangle"></div>
-->
  <div class="row ">
    <div class="col-md-12">


      <div>


        <div class="row  ">
          <div style="position: relative; margin: 0 auto; height: 700px">
            <div style="top: 200px; position: relative">
              <img class="img-fluid mr-5 " width="300" src="../../../assets/images/technologies_component/mobile.png">
              <img class="img-fluid " width="550" src="../../../assets/images/technologies_component/computer.png">
            </div>

          </div>
          <div *ngIf="screen_width <= 800" class="absolute_center ">


            <div class="card mt-3 ">
              <div class=" card  ">


                <div class="text-center header_position"> MOBILE</div>

              </div>
            </div>
            <br>

            <div class="card ">
              <div class="card-body  ">

                <a class=" demo ">

                  <img class="img-fluid raz"
                       src="../../../assets/images/technologies_component/icons_mobile_color/ios_swift.png">
                  <img class="img-fluid dva"
                       src="../../../assets/images/technologies_component/icons_mob_grey/ios_swift.png">
                </a>

                <a class=" demo ">

                  <img class="img-fluid raz"
                       src="../../../assets/images/technologies_component/icons_mobile_color/Java-Android.png">
                  <img class="img-fluid dva"
                       src="../../../assets/images/technologies_component/icons_mob_grey/java_android.png">
                </a>
                <a class=" demo ">

                  <img class="img-fluid raz"
                       src="../../../assets/images/technologies_component/icons_mobile_color/kotin.png">
                  <img class="img-fluid dva"
                       src="../../../assets/images/technologies_component/icons_mob_grey/kotin.png">
                </a>
                <a class=" demo ">

                  <img class="img-fluid raz"
                       src="../../../assets/images/technologies_component/icons_mobile_color/Objective-c.png">
                  <img class="img-fluid dva"
                       src="../../../assets/images/technologies_component/icons_mob_grey/objective_c.png">
                </a>
              </div>


            </div>


            <div class="mt-5">
              <div class=" card  ">


                <div class="text-center header_position"> WEB</div>

              </div>
              <br>

              <div class="card  ">
                <div class="text-center category_font"> FRONTEND</div>
                <div class="card-body ">
                  <a class=" demo">

                    <img class="img-fluid raz"
                         src="../../../assets/images/technologies_component/icons_frontend_color/angular.png">
                    <img class="img-fluid dva"
                         src="../../../assets/images/technologies_component/icons_frontend_grey/angular.png">

                  </a>
                  <a class=" demo">

                    <img class="img-fluid raz"
                         src="../../../assets/images/technologies_component/icons_frontend_color/Bootstrap.png">
                    <img class="img-fluid dva"
                         src="../../../assets/images/technologies_component/icons_frontend_grey/bootstrap.png">
                  </a>

                </div>
                <div class="card-body">
                  <a class=" demo">

                    <img class="img-fluid raz"
                         src="../../../assets/images/technologies_component/icons_frontend_color/css1.png">
                    <img class="img-fluid dva"
                         src="../../../assets/images/technologies_component/icons_frontend_grey/css.png">
                  </a>
                  <a class=" demo">

                    <img class="img-fluid raz"
                         src="../../../assets/images/technologies_component/icons_frontend_color/html.png">
                    <img class="img-fluid dva"
                         src="../../../assets/images/technologies_component/icons_frontend_grey/html.png">
                  </a>
                </div>
                <div class="card-body">

                  <a class=" demo">

                    <img class="img-fluid raz"
                         src="../../../assets/images/technologies_component/icons_frontend_color/iquery.png">
                    <img class="img-fluid dva"
                         src="../../../assets/images/technologies_component/icons_frontend_grey/jQuery.png">
                  </a>
                  <a class=" demo">

                    <img class="img-fluid raz"
                         src="../../../assets/images/technologies_component/icons_frontend_color/js.png">
                    <img class="img-fluid dva"
                         src="../../../assets/images/technologies_component/icons_frontend_grey/js.png">
                  </a>

                </div>
                <div class="card-body">
                  <a class=" demo">

                    <img class="img-fluid raz"
                         src="../../../assets/images/technologies_component/icons_frontend_color/typescript.png">
                    <img class="img-fluid dva"
                         src="../../../assets/images/technologies_component/icons_frontend_grey/typescript.png">
                  </a>

                </div>
              </div>
              <br>
              <div class="card  ">
                <div class="text-center category_font"> BACKEND</div>
                <div class="card-body">
                  <a class=" demo">

                    <img class="img-fluid raz"
                         src="../../../assets/images/technologies_component/icons_backend_color/amazon.png">
                    <img class="img-fluid dva"
                         src="../../../assets/images/technologies_component/icons_backend_grey/amazon.png">
                  </a>
                  <a class=" demo">

                    <img class="img-fluid raz"
                         src="../../../assets/images/technologies_component/icons_backend_color/docker1.png">
                    <img class="img-fluid dva"
                         src="../../../assets/images/technologies_component/icons_backend_grey/docker.png">
                  </a>

                  <a class=" demo">

                    <img class="img-fluid raz"
                         src="../../../assets/images/technologies_component/icons_backend_color/Hibernate1.png">
                    <img class="img-fluid dva"
                         src="../../../assets/images/technologies_component/icons_backend_grey/hibernate.png">
                  </a>
                  <a class=" demo">

                    <img class="img-fluid raz"
                         src="../../../assets/images/technologies_component/icons_backend_color/java.png">
                    <img class="img-fluid dva"
                         src="../../../assets/images/technologies_component/icons_backend_grey/java.png">
                  </a>

                </div>
                <div class="card-body">

                  <a class=" demo">

                    <img class="img-fluid raz"
                         src="../../../assets/images/technologies_component/icons_backend_color/kafka.png">
                    <img class="img-fluid dva"
                         src="../../../assets/images/technologies_component/icons_backend_grey/kafka.png">
                  </a>
                  <a class=" demo">

                    <img class="img-fluid raz"
                         src="../../../assets/images/technologies_component/icons_backend_color/Node.png">
                    <img class="img-fluid dva"
                         src="../../../assets/images/technologies_component/icons_backend_grey/node.png">
                  </a>

                  <a class=" demo">

                    <img class="img-fluid raz"
                         src="../../../assets/images/technologies_component/icons_backend_color/redis.png">
                    <img class="img-fluid dva"
                         src="../../../assets/images/technologies_component/icons_backend_grey/redis.png">
                  </a>
                  <a class=" demo">

                    <img class="img-fluid raz"
                         src="../../../assets/images/technologies_component/icons_backend_color/spring1.png">
                    <img class="img-fluid dva"
                         src="../../../assets/images/technologies_component/icons_backend_grey/spring.png">
                  </a>

                </div>
              </div>
              <br>
              <div class="card  ">
                <div class="text-center category_font"> DATABASE</div>
                <div class="card-body">
                  <a class=" demo">

                    <img class="img-fluid raz"
                         src="../../../assets/images/technologies_component/icons_database_grey/mongodb.png">
                    <img class="img-fluid dva"
                         src="../../../assets/images/technologies_component/icons_database_grey/grey/mongodb.png">
                  </a>
                  <a class=" demo">

                    <img class="img-fluid raz"
                         src="../../../assets/images/technologies_component/icons_database_grey/MySQL.png">
                    <img class="img-fluid dva"
                         src="../../../assets/images/technologies_component/icons_database_grey/grey/MySQL.png">
                  </a>
                  <a class=" demo">

                    <img class="img-fluid raz"
                         src="../../../assets/images/technologies_component/icons_database_grey/postgresql.png">
                    <img class="img-fluid dva"
                         src="../../../assets/images/technologies_component/icons_database_grey/grey/postgresql.png">
                  </a>
                </div>

              </div>
            </div>
          </div>
          <div *ngIf="screen_width > 800" class="absolute_center">
            <div class="text-center ">
              <div class="row m-0 justify-content-center">
                <div class="d-inline-block position-relative " id='mobile'>
                  <h4>
                    MOBILE
                  </h4>
                  <div class="position-absolute position_in_table mt-3 icons">
                    <a class=" demo mb-6" style="height: 20px">

                      <img class="img-fluid raz"
                           src="../../../assets/images/technologies_component/icons_mobile_color/ios_swift.png">
                      <img class="img-fluid dva"
                           src="../../../assets/images/technologies_component/icons_mob_grey/ios_swift.png">
                    </a>
                    <a class=" demo mb-6" style="height: 31px">

                      <img class="img-fluid raz"
                           src="../../../assets/images/technologies_component/icons_mobile_color/Java-Android.png">
                      <img class="img-fluid dva"
                           src="../../../assets/images/technologies_component/icons_mob_grey/java_android.png">
                    </a>
                    <a class=" demo mb-6" style="height: 20px">

                      <img class="img-fluid raz"
                           src="../../../assets/images/technologies_component/icons_mobile_color/ios_swift.png">
                      <img class="img-fluid dva"
                           src="../../../assets/images/technologies_component/icons_mob_grey/ios_swift.png">
                    </a>
                    <a class=" demo mb-6" style="height: 13px">

                      <img class="img-fluid raz"
                           src="../../../assets/images/technologies_component/icons_mobile_color/kotin.png">
                      <img class="img-fluid dva"
                           src="../../../assets/images/technologies_component/icons_mob_grey/kotin.png">
                    </a>
                    <a class=" demo" style="height: 20px">

                      <img class="img-fluid raz"
                           src="../../../assets/images/technologies_component/icons_mobile_color/Objective-c.png">
                      <img class="img-fluid dva"
                           src="../../../assets/images/technologies_component/icons_mob_grey/objective_c.png">
                    </a>
                  </div>


                  <img src="../../../assets/images/tables%20for%20technologies/figure_1.png "
                       class=" img-fluid ">
                </div>
                <div class="d-inline-block position-relative" id="web">
                  <div class="header_position position-absolute ">
                    WEB
                  </div>

                  <div class="position_in_table2">

                  </div>
                  <div class="position-absolute position_in_table2">
                    <div class=" d-block mb-2 category_font mr-4">
                      Front-end
                    </div>
                    <div class="row icons2">
                      <a class=" demo" style="display: inline-block">


                        <img class="img-fluid raz"
                             src="../../../assets/images/technologies_component/icons_frontend_color/angular.png">
                        <img class="img-fluid dva"
                             src="../../../assets/images/technologies_component/icons_frontend_grey/angular.png">
                      </a>
                      <a class=" demo" style="display: inline-block">

                        <img class="img-fluid raz"
                             src="../../../assets/images/technologies_component/icons_frontend_color/Bootstrap.png">
                        <img class="img-fluid dva"
                             src="../../../assets/images/technologies_component/icons_frontend_grey/bootstrap.png">
                      </a>
                      <a class=" demo" style="display: inline-block">


                        <img class="img-fluid raz"
                             src="../../../assets/images/technologies_component/icons_frontend_color/css1.png">
                        <img class="img-fluid dva"
                             src="../../../assets/images/technologies_component/icons_frontend_grey/css.png">
                      </a>

                    </div>
                    <div class="row mb-3 icons2">
                      <a class=" demo">

                        <img class="img-fluid raz"
                             src="../../../assets/images/technologies_component/icons_frontend_color/html.png">
                        <img class="img-fluid dva"
                             src="../../../assets/images/technologies_component/icons_frontend_grey/html.png">
                      </a>
                      <a class=" demo">

                        <img class="img-fluid raz"
                             src="../../../assets/images/technologies_component/icons_frontend_color/iquery.png">
                        <img class="img-fluid dva"
                             src="../../../assets/images/technologies_component/icons_frontend_grey/jQuery.png">
                      </a>
                      <a class=" demo">

                        <img class="img-fluid raz"
                             src="../../../assets/images/technologies_component/icons_frontend_color/js.png">
                        <img class="img-fluid dva"
                             src="../../../assets/images/technologies_component/icons_frontend_grey/js.png">
                      </a>

                    </div>
                    <div class="row icons2">

                      <a class=" demo ml-4-5">

                        <img class="img-fluid raz"
                             src="../../../assets/images/technologies_component/icons_frontend_color/typescript.png">
                        <img class="img-fluid dva"
                             src="../../../assets/images/technologies_component/icons_frontend_grey/typescript.png">
                      </a>
                    </div>
                  </div>


                  <div class="position-absolute position_in_table3">
                    <div class="d-block mb-2 category_font">
                      Back-end

                    </div>
                    <div class="row mb-4 icons2">
                      <a class=" demo" style="display: inline-block">
                        <img class="img-fluid raz"
                             src="../../../assets/images/technologies_component/icons_backend_color/amazon.png">
                        <img class="img-fluid dva"
                             src="../../../assets/images/technologies_component/icons_backend_grey/amazon.png">
                      </a>
                      <a class=" demo">

                        <img class="img-fluid raz"
                             src="../../../assets/images/technologies_component/icons_backend_color/docker1.png">
                        <img class="img-fluid dva"
                             src="../../../assets/images/technologies_component/icons_backend_grey/docker.png">
                      </a>

                      <a class=" demo">

                        <img class="img-fluid raz"
                             src="../../../assets/images/technologies_component/icons_backend_color/Hibernate1.png">
                        <img class="img-fluid dva"
                             src="../../../assets/images/technologies_component/icons_backend_grey/hibernate.png">
                      </a>
                      <a class=" demo">

                        <img class="img-fluid raz"
                             src="../../../assets/images/technologies_component/icons_backend_color/java.png">
                        <img class="img-fluid dva"
                             src="../../../assets/images/technologies_component/icons_backend_grey/java.png">
                      </a>


                    </div>
                    <div class="row icons2">
                      <a class=" demo">

                        <img class="img-fluid raz"
                             src="../../../assets/images/technologies_component/icons_backend_color/kafka.png">
                        <img class="img-fluid dva"
                             src="../../../assets/images/technologies_component/icons_backend_grey/kafka.png">
                      </a>
                      <a class=" demo">

                        <img class="img-fluid raz"
                             src="../../../assets/images/technologies_component/icons_backend_color/Node.png">
                        <img class="img-fluid dva"
                             src="../../../assets/images/technologies_component/icons_backend_grey/node.png">
                      </a>

                      <a class=" demo ">

                        <img class="img-fluid raz"
                             src="../../../assets/images/technologies_component/icons_backend_color/redis.png">
                        <img class="img-fluid dva"
                             src="../../../assets/images/technologies_component/icons_backend_grey/redis.png">
                      </a>
                      <a class=" demo">

                        <img class="img-fluid raz"
                             src="../../../assets/images/technologies_component/icons_backend_color/spring1.png">
                        <img class="img-fluid dva"
                             src="../../../assets/images/technologies_component/icons_backend_grey/spring.png">
                      </a>

                    </div>

                  </div>


                  <div class="position-absolute position_in_table4">
                    <div class="d-block mb-2 category_font">
                      Database

                    </div>


                    <a class=" demo">

                      <img class="img-fluid raz"
                           src="../../../assets/images/technologies_component/icons_database_grey/mongodb.png">
                      <img class="img-fluid dva"
                           src="../../../assets/images/technologies_component/icons_database_grey/grey/mongodb.png">
                    </a>
                    <a class=" demo">

                      <img class="img-fluid raz"
                           src="../../../assets/images/technologies_component/icons_database_grey/MySQL.png">
                      <img class="img-fluid dva"
                           src="../../../assets/images/technologies_component/icons_database_grey/grey/MySQL.png">
                    </a>

                    <a class=" demo">

                      <img class="img-fluid raz"
                           src="../../../assets/images/technologies_component/icons_database_grey/postgresql.png">
                      <img class="img-fluid dva"
                           src="../../../assets/images/technologies_component/icons_database_grey/grey/postgresql.png">
                    </a>


                  </div>

                  <img src="../../../assets/images/tables%20for%20technologies/figure_2.png "
                       class="  img-fluid  d-inline-block">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

