<p>
  test works!
</p>

<div id="container">
  <div id="content1">
    <div style="width: 80%; margin-left: auto; margin-right: auto; font-size: 30px">
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      v
      Lots of placeholder text here so we ample vertical scroll to play with....vv
      Lots of placeholder text here so we ample vertical scroll to play with....vvvv
      Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....



      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      v
      Lots of placeholder text here so we ample vertical scroll to play with....vv
      Lots of placeholder text here so we ample vertical scroll to play with....vvvv
      Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....

      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      v
      Lots of placeholder text here so we ample vertical scroll to play with....vv
      Lots of placeholder text here so we ample vertical scroll to play with....vvvv
      Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....
      Lots of placeholder text here so we ample vertical scroll to play with....














    </div>
  </div>
</div>

<!-- our parallax stuff -->
<div appParallax [ratio]="-0.2" id="square1">        Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  v
  Lots of placeholder text here so we ample vertical scroll to play with....vv
  Lots of placeholder text here so we ample vertical scroll to play with....vvvv
  Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....



  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  v
  Lots of placeholder text here so we ample vertical scroll to play with....vv
  Lots of placeholder text here so we ample vertical scroll to play with....vvvv
  Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....

  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  v
  Lots of placeholder text here so we ample vertical scroll to play with....vv
  Lots of placeholder text here so we ample vertical scroll to play with....vvvv
  Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....
  Lots of placeholder text here so we ample vertical scroll to play with....</div>
<div appParallax [ratio]="0.5" id="circle1"></div>
<div appParallax [ratio]="0.9" id="rectangle1">

</div>
