.chat{
  position: fixed;
  right: 2%;
  top: 75%;
  z-index: 1000;
}
.zIndex{
  position: fixed;
  z-index: 100;
}
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  /* Location of the box */
  right: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

}
.modal-content1 {
  margin-top: 15%;
  float: right;
  right: 0.5%;
  position: relative;
  background-color: whitesmoke;
  width: 300px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 10px;
}
.modal-header1 {
  padding: 2px 16px;
  background-color: rgb(25, 164, 181);
  color: white;
}
.close1 {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-body1 {
  width: auto;
  overflow: auto;
  opacity: 0.8;
  margin: 0;
}
.chat_body{
  height: 280px;
  width: 100%;

  overflow-y: auto;
}.message{
   display: block;
   float: right;
   height: auto;
   padding: 5px;

   width: 70%;
   background-color: #e2e2e2;
   border-radius: 7px;
   margin-top: 2px;
   margin-left: 2px;
 }
.name{
  top: 0;
  display: block;
  left: 0;
  float: left;
  font-size: 10px;
}

.content{

  display: block;
  left: 0;
  float: left;
}
.date{

  display: block;
  font-size: 8px;
  float: right;
}
@media  (max-width: 368px) {
  .modal-content1{

    width: 100%;

  }
}
.modal-footer1 {
  opacity: 0.5;
  color: black;
}
.modal-body1 p{
  opacity: 1;
}
/*Стилі для сколбара*/
::-webkit-scrollbar{
  width:6px;

}
::-webkit-scrollbar-thumb{
  border-width:1px 1px 1px 2px;
  border-color: #777;
  background-color: #aaa;border-radius: 15px;

}
::-webkit-scrollbar-thumb:hover{
  border-width: 1px 1px 1px 2px;
  border-color: #555;
  background-color: #777;
}
::-webkit-scrollbar-track{
  border-width:0;
}
::-webkit-scrollbar-track:hover{
  background-color: #e7e7e7;
}
.shadow{
  box-shadow: 10px 10px 15px -2px rgba(0, 0, 0, 0.48);
  width: 50px;
  height: 50px;

  background-image: url('../../../assets/images/chat.png');
  background-size: 100% 100%;
  display: block;
  border-radius: 10px 10px 20px 20px;
}
