

.nav-item a {
  color: #2d527c;
  font-weight: 600;
  /* margin-left:  20px ;
   margin-right:  20px;*/
}
.navbar-brand{
  margin: 0;
}
.zero{
  margin-top: 8%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

a[href = "http://impltech.com"] {
  font-size: 25px;
  color: #2d527c;
  letter-spacing: .4px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;

  font-weight: 600;
}

.nav-item a :hover {
  color: dodgerblue;
}
.marg{

  margin-top: 8%;



}

/*nav item clash     */
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.nav-item a:hover {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  color: #15d8ff;
}
/* lang togler */
label .switch{

  margin-bottom: 0;

}
.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 4px;
  margin-bottom: 0;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 2px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d7d7d7;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 4px;
  width: 35px;
  border-radius: 2px;
  left: 0px;
  bottom: 0px;
  background-color: #15d8ff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color:  #d7d7d7;
}

input:focus + .slider {
  box-shadow: 0 0 2px   #d7d7d7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

/*navbar */
#head
{

  box-shadow: 0 2px 2px 0 rgba(0,0,0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 200;
  height: auto;
  width: 100%;

  position: fixed;
}

.parallax-window{
  width: 100%;
  min-height: 400px;
  background: transparent;
}
.parallax-container {
  height: 500px;
  width: 100%;

}
#content{
  overflow: visible;
  text-align: center;
  font-size: 1.5rem;
  z-index: 2;
}
#container{
  width: 100%;
}

#square{
  height: auto;
  position: fixed;
  display: block;
  width: 100%;

  /* left: 50%;
     transform: translateX(-50%);
   */


  /* Negative half of height. */
}
.top{
  margin-top: 8%;

}

.center{

  left: 50%;
  transform: translateX(-50%);
}
figure{
  text-align: center;
}
p, h4{
  letter-spacing: .4px;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  color: #2d527c;
  font-weight: 600;
}


/*   body */
.body{
  box-shadow: 0  -2px 2px 0  rgba(0,0,0, 0.1);
  background-color: white;
  z-index: 100;

}



.textbody{

  color: #2d527c;
  letter-spacing: .4px;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;

}
article{
  margin-top: 10px;
  margin-bottom: 50px;
}


.back{

  position: relative;
 /* height: 1600px; */
}

.back::before{
  background-size: 100% 100%;
  background-repeat:no-repeat; background-attachment:fixed;
  background-image: url("../../../assets/images/bg.png")  ;
  z-index: -1;
  content: '';
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: transform;
}



/* height of body
.height{

  min-height: 3600px;



}
@media  (max-width: 768px) {
 .height{

   height: 5400px;

 }
}
@media  (min-width: 768px) and (max-width: 1200px) {
  .height{

    height: 4000px;

  }
}
@media  (max-width: 484px) {
  .height{

    height: 6000px;

  }
}
@media  (max-width: 367px) {
  .height{

    height: 6100px;

  }
}
@media  (max-width: 339px) {
  .height{

    height: 6800px;

  }
}
*/



/* small pictures  */

.picture1, .picture2, .picture3, .picture4, .picture5, .picture6, .picture7, .picture8, .picture9, .picture10{
  z-index: 1;

}
.picture1{
margin-left: 10%;
  margin-top: 10%;

}

.picture2 {
  margin-left: 75%;
  margin-top: 15%;

}
.picture3{

  margin-left: 55%;
  margin-top: 19%;

}
.picture4{
  margin-left: 85%;
  margin-top: 5%;

}
.picture5{
  margin-left: 19%;
  margin-top: 9%;

}
.picture6{
  margin-left: 24%;


}
.picture7{
  margin-left: 12%;


}
.picture8{

  margin-left: 52%;


}
.picture9{

  margin-left: 28%;


}
.picture10{

  margin-left: 33%;


}



.language-mark{
  display: block;
  color: darkgray;
  letter-spacing: .4px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-weight: 600;
}

td{

  display: inline-block;
}


ul li  {display:inline;}

.loh{


  width: 100%;
  height: 100%;
  background-color: #2d527c;
}
div.modal-backdrop.fade.show
{

  display: none;
}

.button_shadow{
  -webkit-box-shadow: 10px 11px 16px 1px rgba(176,176,176,1);
  -moz-box-shadow: 10px 11px 16px 1px rgba(176,176,176,1);
  box-shadow: 10px 11px 16px 1px rgba(176,176,176,1);
}




/* Add Animation */
@-webkit-keyframes animatetop {
  from {top: -300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top: -300px; opacity:0}
  to {top:0; opacity:1}
}

.lang_color
{
  transition: .6s;
  color: #737373;  display: block
}

/* footer */
.footerBody{
  display: block;
  background-color: #292929;

}
.footerContacts{
  color: #15d8ff;
  font-size: 24px;
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;

}

.foterIcons{
  width: 20px;


  height: 20px;

}
.footerFonts{
  letter-spacing: .4px;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  color: white;
  font-weight: 600;
  font-size: 18px;

}
.nav-link{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;

}
.nav-link:hover{
color: #FFFFFF;

}
.heightEntry{
  height: 100%;

}

.height{


}

@media  (min-width: 768px) and (max-width: 1007px) {
  .height{

    height: 200px;

  }
}
@media   (max-width: 800px) {
  .height{

    height: 400px;

  }
}

