


<div    style="" class="container-fluid ">
  <div id="head" class="row">
    <div class="col-md-1  ">
    </div>
    <div class="col-md-10">
      <nav class="mt-3 navbar navbar-expand-lg navbar-light">
        <p-dialog [style]="{'margin-left': '40%', 'margin-top': '8%', 'display': 'block', 'position': 'fixed'}"   header="Представтесь и начните чат"  [(visible)]="display" [responsive]="true" [width]="350" [minWidth]="200"
                  [maximizable]="true" [baseZIndex]="10000"    >
          ываыва   ываыва
          ываыва
          ываыва
          ываыва  ываыва  ываыва
          ываыва
          ываыва





          <p-footer>
            <button type="button" pButton icon="pi pi-close" (click)="display=false" label="Закрыть" class="ui-button-secondary"></button>
          </p-footer>

        </p-dialog>
          <a data-text="innovations"  class=" button-hover "  href="http://impltech.com">impltech</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div     class="collapse navbar-collapse justify-content-md-center" id="navbarSupportedContent">
          <ul  class="navbar-nav ">
            <li class=" nav-item mr-3 ml-3">
              <a   class="nav-link" href="#">{{'services' | translate}}</a>
            </li>
            <li class="  nav-item mr-3 ml-3">
              <a  class="nav-link" href="#">{{'tech' | translate}}</a>
            </li>
            <li class=" nav-item mr-3 ml-3">
              <a   class="nav-link" >{{'port' | translate}}</a>
            </li>
            <li  class=" nav-item mr-3 ml-3">
              <a href="#div2" SimpleSmoothScroll [showHash]="true"  class="nav-link" >{{'cont' | translate}}</a>
            </li>
          </ul>
        </div>
        <div>
          <label class="switch">
            <input (click)="switchLanguage(index)"   type="checkbox">
            <span   class="slider"> </span>
          </label>

<ul  class="navbar-nav">
  <li >
  <div [@fadein] *ngIf="index % 2 === 0" style="float: left; display: block" class="language-mark">
    рус
  </div>
  </li>
  <li style="clear: both">
<div [@fadein] *ngIf="index % 2 !== 0" style="color: #15d8ff; float: right; display: block" class="language-mark  ">
  en
</div>
  </li>
</ul>
          <!--
                <table>

                     <tr>
                       <td [@fadein] *ngIf="index % 2 === 0"  class="language-mark">

                         рус
                       </td>
                       <td *ngIf="index % 2 !== 0" style="color: #15d8ff" class="language-mark">
                         eng
                       </td>

                     </tr>
                   </table>



                 <div [@fadein] *ngIf="index % 2 === 0; else eng"  class="language-mark" >

                   рус

                 </div>

                 <div style="color: #15d8ff;" class="language-mark"  #eng>
                   eng
                 </div>   -->
        </div>
      </nav>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <!-- <div appParallax [ratio]="0.5" id="circle"></div>
  <div appParallax [ratio]="0.9" id="rectangle"></div>
-->
  <div class="row back">
    <div    appParallax [ratio]="0.2" id="square">
      <div class="picture1">
<img class="img-fluid" width="100px" src="../../../assets/images/screen_01/01.png">
      </div>
      <div class="picture3">
        <img class="img-fluid" width="100px" src="../../../assets/images/screen_01/03.png">
      </div>

      <div class="text-center" >
        <div class="height1 ">
          <div class="row zero top">
            <div [@slideIn]  class="col-md-12"  >
              <img  width="600px"  class="img-fluid "  src="../../../assets/images/illustration.png">
            </div>
          </div>
          <div  class="row margin1 zero">
            <div class=""  style="margin: 0 auto;" >
              <p  >{{'header'| translate}}</p>
            </div>
          </div>
          <button  type="button"  class=" mx-auto btn btn1 button_shadow">{{'estimate' | translate}}</button>
          <div class="chat">
            <img (click)="showDialog()" class="img-fluid" width="50px" src="../../../assets/images/chat.png">
            <!-- Modal -->

          </div>
        </div>
        <h4 style="margin-top: 10%" align="center">
          {{'propose' | translate}} <div style="color: #15d8ff; display: inline-block">{{'cycle' | translate}}</div>
        </h4>
        <div  class="container text-center textbody">
          <div class="picture2">
            <img class="img-fluid" width="100px" src="../../../assets/images/screen_01/02.png">
          </div>
          <div class="row">
            <div class="picture4">
              <img class="img-fluid" width="100px" src="../../../assets/images/screen_01/04.png">
            </div>
            <div class="picture6">
              <img class="img-fluid" width="100px" src="../../../assets/images/screen_04_portfolio/02.png">
            </div>
            <div class="picture7">
              <img class="img-fluid" width="100px" src="../../../assets/images/screen_04_portfolio/03.png">
            </div>
            <div class="picture8">
              <img class="img-fluid" width="100px" src="../../../assets/images/screen_04_portfolio/04.png">
            </div>
            <div class="picture9">
              <img class="img-fluid" width="100px" src="../../../assets/images/screen_04_portfolio/05.png">
            </div>
            <div class="picture10">
              <img class="img-fluid" width="100px" src="../../../assets/images/screen_04_portfolio/06.png">
            </div>
            <div class="col-md-6">
              <img class="img-fluid" width="100px" src="../../../assets/images/screen_02/icons/01.png"><br>
              <b>{{'1' | translate}}</b><br>
              <article>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</article>
            </div>
            <div class="col-md-6">
              <img class="img-fluid" width="100px" src="../../../assets/images/screen_02/icons/02.png"><br>
              <b>{{'2' | translate}}</b><br>
              <article> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</article>
            </div>
          </div>
          <div class="picture5">
            <img class="img-fluid" width="100px" src="../../../assets/images/screen_01/05.png">
          </div>
          <div class="row">
            <div class="col-md-6">
              <img class="img-fluid" width="100px" src="../../../assets/images/screen_02/icons/03.png"><br>
              <b>{{'3' | translate}}</b>
              <br>
              <article>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</article>
            </div>
            <div class="col-md-6">
              <img class="img-fluid" width="100px" src="../../../assets/images/screen_02/icons/04.png"><br>
              <b> {{'4' | translate}}</b>  <br>   <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</article>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <img class="img-fluid" width="100px" src="../../../assets/images/screen_02/icons/05.png"><br>
              <b>{{'5' | translate}}</b>
              <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</article>     </div>
            <div class="col-md-6">
              <img class="img-fluid" width="100px" src="../../../assets/images/screen_02/icons/06.png"><br>
              <b>{{'6' | translate}}</b>   <br> <article>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</article>    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container-fluid p-0  position-absolute" style="border-radius: 0; z-index: 300;">
    <div   style="width: 100%" SimpleSmoothScroll [scrollTo]="'navbarSupportedContent'" [duration]="500" class="card"  >
      <div class="card ">

        <div class="card-body">
          <div class="row ">
<div class="col-md-5 text-center pt-5">
  <p class="card-text">+38097208045</p>
  <p class="card-text">impltech@ukr.net</p>
  <p class="card-text">+38096235844</p>
  <p class="card-text">+38050687359</p>
</div>
            <div class="col-md-7">
              <div class=" text-center">
                <img  class="img-fluid" width="500px" src="https://djmmlc8gcwtqv.cloudfront.net/imgs/chatkit/chat-build.gif"
                     alt="123"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="div2">
  </div>


</footer>


