<div id="estimateModal" class="estimateForm"  >
  <form>
    <span id="close" class="close">&times;</span>
    <input class="inputName" type="text" id="fullname" name="fullname" placeholder="Your name">
    <input class="inputMail" type="text" id="mail" name="mail" placeholder="Your mail adress">
    <input class="inputNumber" type="text" id="number" name="phoneNumber" placeholder="Your last phone number">
    <input class="inputSybject" type="text" id="subject" name="subject" placeholder="Your subject">
    <textarea class="inputDescription" placeholder="Describe yourself here..." (resize)="false"></textarea>
    <button  type="submit"  >Submit </button>
  </form>
</div>
<button id="estimateButton" type="button"  class=" mx-auto btn btn1 button_shadow">{{'estimate' | translate}}</button>
